.todoMain {
    border: 1px solid black;
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
    height: 90vh;

    &__leftSide, &__rightSide {
        display: flex;
        flex-direction: column;
        padding: 20px;
        overflow: hidden; /* 부모 컨테이너에서 넘치는 내용 숨기기 */
    }

    &__leftSide {
        background-color: #e0e0e0;
        width: 50%; /* 고정 너비 */
        max-width: 100%;
        height: 100%;
    }
    
    &__rightSide {
        background-color: #d0d0d0;
        width: 50%; /* 고정 너비 */
        max-width: 100%;
        height: 100%;
    }

    &__title {
        text-align: center;
        width: 100%;
        margin-bottom: 20px;
    }

    &__todoUl {
        list-style: none;
        padding: 0;
        margin: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        flex: 1; /* 남은 공간을 차지하도록 설정 */
    }

    &__todoLi {
        display: flex;
        align-items: center;
        margin-bottom: 5px;
        width: 100%;
        font-weight: 500;
        position: relative;
        overflow: hidden;
    }

    &__checkbox {
        margin-right: 20px;
    }

    &__label {
        flex: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &__delete {
        position: absolute;
        right: 10px;
        cursor: pointer;
    }
}


@keyframes marquee {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  .group:hover .group-hover\:animate-marquee {
    animation: marquee 10s linear infinite;
  }